---
import "../styles/reset.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <slot name="head" />
    <title>Fractional Pixels Demo</title>
  </head>
  <body>
    <slot />
  </body>
</html>
